body {
  font-family: 'Segoe UI', sans-serif;
  background: #000508;
  color: #f0f0f0;
}

header {
  background: linear-gradient(to right, #0077b6, #00b4d8);
}

.carousel-inner img {
  height: 450px;
  object-fit: cover;
}

.section {
  padding: 50px 20px;
  text-align: center;
}

footer {
  background: #023e8a;
  color: rgba(253, 249, 249, 0.685);
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
