body {
  font-family: 'Segoe UI', sans-serif;
  background: #000508;
  color: #f0f0f0;
}

header {
  background-color: #1e1e2f;
}

.carousel-inner img {
  height: 450px;
  object-fit: cover;
}

.section {
  padding: 50px 20px;
  text-align: center;
}

footer {
  background: #023e8a;
  color: rgba(253, 249, 249, 0.685);
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
 .titulo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .sobre, .contacto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#f0f0f0;
  padding: 10px;
 font-size: 1.2em;
 }
 .iniciar-sesion {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f0f0f0;
  padding: 10px;
  font-size: 1.2em;
  bottom: 10px;
 }
.footer-izquierda{
  text-align: left;
  
}
.footer-derecha {
  text-align: center; 
}
.d-flex {
  display: flex;
  justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.redes-sociales {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-red {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Botones de redes sociales */
.redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 100px;             /* Ajusta la distancia desde arriba */
  left: 20px;             /* Ajusta la distancia desde la izquierda */
  z-index: 1000;          /* Asegura que estén sobre otros elementos */
}

.btn-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

/* Colores por red */
.instagram {
  background: #e1306c;
}

.facebook {
  background: #3b5998;
}

.x {
  background: #000000;
}

/* Efecto hover */
.btn-icon:hover {
  transform: scale(1.1);
}

